<h1>New In-patient Registration</h1>
<%= form_with url: in_patients_url, method: "post" do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name  %>
  <br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br>
  <%= f.label :phone_no, "Phone number" %>
  <%= f.telephone_field :phone_no, pattern: "[0-9]{3}-[0-9]{3}-[0-9]{4}" %>
  <br>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <br>
  <%= label_tag 'gender' %>
  <%= select_tag 'gender', raw("<option value=\"m\">Male</option><option value=\"f\">Female</option>") %>
  <br>
  <%= f.label :dob, "Date of Birth" %>
  <%= f.date_field :dob %>
  <br>
  <%= label_tag :sickroom %>
  <%= select_tag 'sickroom', raw("<option>4161</option><option>2005</option><option>4235</option><option>4346</option><option>3725</option><option>3385</option><option>4665</option><option>4165</option><option>2283</option><option>4195</option>") %>
  <br>
  <%= f.label :doa, "Date of Admission" %>
  <%= f.date_field :doa %>
  <br>
  <%= f.label :fee %>
  <%= f.number_field :fee, step: 0.5 %>
  <br>
  <%= label_tag 'nurse' %>
  <%= select_tag 'nurse', options_for_select(Employee.where('job_type = ?', 'nurse').collect{ |p| ["#{p.first_name+' '+p.last_name}", p.id ] }) %>
  <br>
  <%= f.submit "Register" %>
<% end %>
